@use '../../../scss/' as *;

.btn {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px 35px;
  color: #fff;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: rgba($accent, .4);
  }
}