@use '../../../scss/' as *;

.header {
	@include flex(center, space-between);
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	> .btn {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}