@use '../../../scss/' as *;

.form {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  input {
    margin-bottom: 38px;
  }
}

.btns {
  display: flex;
}

.btn {
  background-color: $purple;
  display: block;
  margin: 0 auto;
  margin-top: 38px;
}

.exercise_link {
  display: block;
  margin-bottom: 10px;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  color: #be2e76;
}
